* {
    box-sizing: border-box;
}

.progress_hidden .progress__wheel {
    visibility: hidden;
}

.progress_animated .progress__arc {
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to {transform: rotate(360deg); }
}

.progress__header {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
}

.progress__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (orientation: portrait) {
    .progress__container {
        flex-direction: column;
    }
}

@media screen and (orientation: landscape) {
    .progress__container {
        flex-direction: row;
    }
}

.progress__wheel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    transform-origin: center;
}

.progress__arc {
    transform-origin: inherit;
}

.progress__controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress__controls-list {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    list-style: none;
    padding: 0;
}

.progress__controls-list li {
    margin: 0.5em 0;
}

.progress__value-control {
    text-align: center;
    font-size: 1em;
    width: 2em;
    height: 1.2em;
    vertical-align: middle;
    border-radius: 1em;
    border: 2px solid gray;
    outline: none;
}

.progress__toggle {
    display: inline-block;
    width: 2em;
    height: 1.2em;
    background-color: gray;
    border-radius: 1em;
    vertical-align: middle;
}

.progress__toggle_activated {
    background-color: #7ed321;
}

.progress__toggle_activated .progress__toggle-handle {
    left: 0.8em;
    border-color: #7ed321;
}

.progress__toggle-handle {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background-color: white;
    border-radius: 1em;
    position: relative;
    left: 0;
    transition: left 0.25s;
    border: 2px solid;
    border-color: gray;
}

.progress__control-label {
    vertical-align: middle;
    line-height: 1em;
}